.blog__item {
    margin-bottom: 20px;
    img {
        width: 100%;
    }
    p {
        margin-bottom: 12px;
        color: var(--gray);
    }
}

.blog__title {
    a {
        display: inline-block;
        margin: 30px 0 8px;
        font-size: var(--fontSize20);
        transition: color .2s ease;
        &:hover {
            color: var(--yellow2);
        }
    }
}

.blog__more {
    padding-left: 20px;
    position: relative;
    transition: padding .3s ease;
    color: var(--black);
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 10px;
        height: 1px;
        background-color: var(--black);
        transform: translateY(50%);
        transition: width .3s ease;
    }
    &:hover {
        padding-left: 24px;
        color: var(--yellow);
        &::after {
            width: 14px;
            background-color: var(--yellow);
        }
    }
    span {
        font-size: var(--fontSize12);
        font-weight: 600;
        text-transform: uppercase;
    }
}