.c-form {
    width: 100%;
    color: var(--gray);
    border: 1px solid var(--gray10);
    outline: none;
    padding: 15px;
    margin-bottom: 20px;
    font-family: inherit;
    &:focus {
        border: 1px solid var(--yellow);
    }
}