.login__wrap {
    width: 100%;
    min-height: 100vh;
    background: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/home-1-slider-image-1.jpg) center center no-repeat;
    position: relative;
}

.login__backfit {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #0c2f55;
    top: 0;
    left: 0;
}

.login__content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111418;
    opacity: 0.9;
    padding: 48px;
    border-radius: 5px;
    width: 500px;
    box-shadow: 1px 0 16px #fff;
}

.login__header {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.login__formGroup {
    position: relative;
    margin-bottom: 16px;
    input {
        padding: 12px 16px 12px 44px;
        width: 100%;
        outline: none;
        border: 1px solid #232a31;
        background: #232a31;
        color: #fff;
        border-radius: 4px;
        &:focus {
            background-color: #fff;
            color: #333;
        }
    }
    .login__icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 50px;
        display: flex;
        justify-content: center;
    }
}

.login__icon {
    .fa {
        color: #777b7f;
    }
}

.login__other {
    display: flex;
    align-items: center;
    color: #8e9a9d;
    hr {
        flex-grow: 1;
        height: 1px;
        background-color: rgba( 248, 249, 250, 1)!important;
        opacity: 0.4;
    }
}

.login__other-text {
    font-size: 14px;
    padding: 0 8px;
    display: inline-block;
}