.wrapper {
    width: 308px;
    background-color: var(--white);
    text-align: left;
    color: var(--black);
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 12px;
    padding: 35px 25px;
    ul {
        list-style: none;
    }
    &.small {
        width: 150px;
        padding: 15px;
    }
    &.menuBar {
        background-color: var(--black);
        padding: 20px;
    }
}