.box {
    text-align: center;
    padding-bottom: 45px;
}

.box__image {
    text-align: center;
}

.box__image {
    a {
        display: inline-block;
        img {
            max-width: 100%;
        }
    }
}

.box {
    h5 {
        font-size: var(--fontSize20);
        margin-top: 20px;
        a {
            color: var(--black);
            transition: color .3s ease;
            &:hover {
                color: #c0aa83;
            }
        }
    }
    p {
        color: var(--gray);
        margin-top: 6px;
    }
}